.draggable-list {
  padding: 0.5rem 1rem; /* px-4 py-2 */
}

.draggable-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e5e7eb;
}

.draggable-list li + li {
  border-top: 1px solid #e5e7eb; /* divide-y */
}

#webcrumbs .draggable-list-wrapper {
  max-height: 580px;
  overflow-y: auto;
  margin-top: 0;
  padding-right: 6px; /* để không bị che bởi scrollbar */
}
