.App {
  text-align: center;
  min-height: 100vh; /* Đảm bảo app chiếm toàn bộ chiều cao màn hình */
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  flex: 1; /* Cho phép main-content co giãn */
  margin-top: 60px; /* Khoảng cách từ header */
  margin-bottom: 60px; /* Khoảng cách từ footer */
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
